body {
margin: auto;
background-color: #000;
}
header {
margin-left: auto;
margin-right: auto;
background-color: #000;
color: white;
padding: 2rem 1rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
header h1 {   
font-size: 3rem;
text-align: center;  
}
#button a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: #9c9c9c;
    color: #efefef;
    position: relative;
    top: -150px;
}
@media all and (max-width: 600px) {
#button a {
    position: relative;
    top: -235px;  
    text-align: center;
    }
}

#parrafo1 {
    background-color: #010101;
    color: burlywood;
   text-align: center;
}
.des {
    color: #000;
    background-color: rgb(160, 154, 152);
    position: relative;
    top: 20px;
}
#completo1 { 
    display: grid;
   
    grid-gap: 5px;
    /*gap: #;*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-column-end: 3;
    grid-template-rows: minmax(100px, 150px);
    color: #000;
}

#completo1 div {
    background: #efefef;
    padding: 1rem;
}
#recuadros {
    display: grid;
   grid-template-columns: 50% 50%;
    grid-gap: 1px;
    grid-row: 1px;
    /*gap: #;*/    
    grid-template-rows: minmax(100px, 150px);
    color: #000;
}
#recuadros div {
    background: #9c9c9c;
    padding: 1rem;
}

#recuadros div h3 {
    text-align: center;
}
@media all and (max-width: 600px) {
    #completo1 {
        grid-template-rows: minmax(100px, 300px);
    }
    #recuadros {
        grid-template-rows: minmax(100px, 300px);
    }
}


footer{
    background-color: #191919;
    padding: 9rem 6rem;
    color: #efefef;
}
footer p {
    text-align: center;
}
footer a {
    text-align: center;
}